
/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, rem, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, rembed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body  {
	background: url('forest.jpg') no-repeat center center fixed; 
	background-size:cover;
	background-repeat: no-repeat;
	padding: 2rem;
   
}
*{
	box-sizing: border-box;
}

/*Main*/
main{
	
	display: flex;
	flex-direction: column; 
	align-items: center;
    background-color: #cccccce7;
    border-radius: 20px;
    padding: 2rem;
	border: 1px #ffd90071 solid;
}
/* Text  */
html{
	font-size: 16px;
}
a{
	text-decoration: none;
}
h1,p,a{
	color: #1D4739;
}
p,a{
	font-size: 1.5rem;
}
p{
	width: 70%;
    line-height: 2rem;
	padding: 3rem;
}
h1{
	font-size: 3rem;
	text-align: center;
}


/* About me  */
.about{
	justify-content: space-around;
	padding: 4rem 8rem;
	display: flex;
	justify-content: space-between;
}
/* Homepage */


/* main container */
.homepagecontainer{
	width: 20rem;
	padding: 8rem 0;
	height: 50vh;
	display: flex;
	 justify-content:space-around
}
.buttoncontainer{ 
width: auto;}



 /* contact page */
 ul{
list-style-type: disc;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 20rem;

 }
 /* button */
 .button{ 
	text-align: center;
	 height: 4rem;
	padding: 1rem;
	border: 1px #ffd900ab solid;
	background-color: #1d4739d3;
	border-radius: 6px;
	transition:all 0.5s ease-in-out;
	
 }
 
 a > .button:only-child{
	color:  #cccccc;
 }

a > .button:only-child:hover{
	 color: #1D4739;
}
.button:hover{
	background-color:#ffd90052;
	border: 1px #1D4739 solid;
	border-radius: 10%;
}
img{
	align-self: center;
	height: 30rem;
}
@media (max-width: 1250px) {
	html{
		font-size: 14px;
	}
	.about{
		justify-content: center;
		flex-direction: column;
	}
	p{
		padding: 4rem 0 0 0;
		line-height: 2.5rem;
		width: 100%;
	}


  }

